.dashboard-drawer-btn {
  display: none !important;
}

.profile-sidebar {
  overflow: hidden;
}

.profile-sidebar .dashboard-menu .menus {
  border-right: 0 !important;
}

.ant-menu-item-active,
.ant-menu-item-selected {
  color: black !important;
  background: none !important;
}

.dashboard-menu .sidebar-tab {
  border-right: 0 !important;
  border-radius: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.dashboard-menu .sidebar-item {
  color: var(--textLight);
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  background: white;
  border-top: 1px solid #dadada;
  border-right: 0 !important;
  border-radius: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
.dashboard-menu > ul > li {
  border-bottom: 1px solid #dadada;
  border-radius: 0 !important;
  border-right: 0 !important;
  position: relative;
}
.dashboard-menu > ul > li:last-child {
  border-bottom: 0;
}

.dashboard-menu .logout-btn{
  border: none;
  width: 100%;
  text-align: left;
}

.dashboard-menu .logout-btn:hover{
  color: black !important;
}

@media (max-width: 768px) {
  .dashboard-drawer-btn {
    position: fixed;
    top: 8px;
    right: 16px;
    z-index: 1000;
    overflow: hidden;
    font-size: 1.15rem;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    color: var(--primaryHoverColor) !important;
  }

  .dashboard-drawer-btn:hover{
    background: none !important;
  }

  .dashboard-menu-sidebar {
    display: none;
  }
}
