.attendance-mark{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem auto;
}

.attendance-mark .attendance-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.attendance-mark h4{
    font-size: 1rem;
    color: var(--textColor);
}
