@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Pacifico&family=Poppins:wght@200;300;400;500;600&family=Satisfy&family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  --primaryColor: #6d55cf;
  --primaryHoverColor: #52409c;
  --secondaryColor: #8164f5;
  --bgColor: #f2f2fc;
  --bgLight: #fdf9ff;
  --textColor: #302e4d;
  --textLight: #58567c;
  --headingColor: #2c4964;
  --borderColor: #d4cad9;
  --borderLight: #dfd8e3;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.15);
  --shadowAll: 0px 2px 15px rgba(0, 0, 0, 0.15);
  --shadowAllLight: 0px 4px 15px rgba(0, 0, 0, 0.1);
  --materialShadow: 0 2.5px 2px -1px rgba(32, 31, 31, 0.45);
  --line-color: #58567c !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: "Poppins";
}

.ant-btn-primary {
  background: #ec1839 !important;
  color: #fff !important;
  transition: all 0.5s ease !important;
  border: none !important;
  box-shadow: none !important;
}

.ant-btn-primary:hover {
  background: #b9122c !important ;
}

/* Edit Scrollbar */
::-webkit-scrollbar {
  height: 0;
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  background-color: var(--bgLight);
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 5rem;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  color: #272b41;
}
